<template>
<div class="container">
  <h1 class="text-center">About Songbird Domains</h1>
  
  <div class="row mt-3">
    <div class="col-md-8 offset-md-2">
      <p>
        ...
      </p>

    </div>
  </div>
</div>
</template>

<script lang="ts">
  export default {
    name: "About"
  }
</script>

<style scoped>
p {
  text-align: justify;
  font-size: 1.1em;
}

h3 {
  margin-top: 35px;
}
</style>